@model phaBalloting.Data.phaConfiguration

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(odd) {
            background-color: #27ae31;
            color: #fff;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0f5e0e;
            color: white;
        }
</style>

<h2>Details</h2>

<div>
    <h4>phaConfiguration</h4>
    <hr />

    <center>
        <table id="customers">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConfigValue)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ConfigValue)
                </td>
            </tr>
        </table>
    </center>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConfigKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
